<nav>
  <% if current_user %>
    <nav>
    <a href="/show">Shrieks</a>
    <a href="/account">Account</a>
    <a href="/logout">Log out</a>
  </nav>
  <% end %>

<h1>Account Info</h1>
<h2>User ID</h2>
<p><%= @other_user.id %></p>

<h2>Current Username</h2>
<p> <%= @other_user.username %> </p>

<h2>Location</h2>
<p> <%= @other_user.location %> </p>


<section>
  <h3>Your Shrieks!</h3>
  <ul style="list-style-type:none">
    <% @other_user.posts.each do |post| %>
      <li>
          <p><%= post.text %></p>
      </li>
    <% end %>
  </ul>
</section>
