<h1>Account Info</h1>
<h2>User ID</h2>
<p><%= @user.id %></p>

<h2>Current Username</h2>
<p> <%= @user.username %> </p>

<h2>Location</h2>
<p> <%= @user.location %> </p>
<!-- vvv not currently working vvv -->

<form action="/location" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="location">
  <input type="submit" value="Change">
</form>

<!-- ^^^ // ^^^ -->

<h2>Update contact info</h2>

<h2>Delete your account</h2>

<section>
  <h3>Your Shrieks!</h3>
  <ul style="list-style-type:none">
    <% @user.posts.each do |post| %>
      <li>
          <p><%= post.text %></p>
      </li>
    <% end %>
  </ul>
</section>
