<link rel="stylesheet" href="/stylesheets/login.css">

<div class="login-grid">


<div class="login-form">

  <h2> Login/Sign Up for Howler </h2>

  <form action="/login" method="post">
  <label for="username">Username</label><br>
  <input class="username-box "type="text" name="username"><br>
  <br>
  <input type="submit" name="submit" value="Submit">
  </form>

</div>
</div>
