<link href="https://fonts.googleapis.com/css?family=Frijole|Nosifer|Spectral+SC" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/login.css">

<div class="login-grid">
  <div class="banner">
    <h1>HOWL WITH HOWLR<h1>
  </div>
  <div class="login-form">
    <h2>
      Login/Sign Up for Howlr
    </h2>
    <form action="/login" method="post">
      <label for="username">Username</label><br>
      <input class="username-box " type="text" name="username"><br>
      <br>
      <input class="submit-btn" type="submit" name="submit" value="Submit">
    </form>
  </div>
</div>
