<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>

    <% if current_user %>
      <nav>
        <a href="/show">Shrieks</a>
        <a href="/account">Account</a>
        <a href="/logout">Log out</a>
      </nav>
        <footer>Footer</footer>

    <% end %>

    <main>
      <%= yield %>
    </main>

    <script src="/js/index.js"></script>
  </body>
</html>
