<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <nav>
        <% if current_user %>
          <nav>
          <a href="/show">Shrieks</a>
          <a href="/account">Account</a>
          <a href="/logout">Log out</a>
        </nav>
        <% end %>

    <main>
      <%= yield %>
    </main>

    <script src="/js/index.js"></script>
  </body>
</html>
