<link rel="stylesheet" href="/stylesheets/show.css">


<div class="display">


    <form id="post" action="/show" method="post">
    <textarea id="yell" name="text" rows="8" cols="80" maxlength="280">What's On Your Mind?</textarea>
    <input type="submit" id="howl" value="Shriek!">
    </form>

  <div class="feed">
      <% Post.last(10).reverse.each do |post| %>
      <div class="idColumn">
        <ul style="list-style-type:none">
          <li>
            <p> <a name="user_link" href="/account/<%= post.user_id %>"> <%= post.user.username %> </a> </p>
          </li>
        </ul>
      </div>
      <div class="textColumn">
        <ul style="list-style-type:none">
          <li>
             <p><%= post.text %></p>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
