* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: "nav  nav"  3fr
                 "main main" 14fr
                 "foot foot" 1fr
                /  1fr  1fr;
  background-color: white;
}

nav {
  background-image: url(../../images/howler_nav.jpg);
  background-position: center;
  background-size: cover;
  grid-area: nav;
}

main {
  grid-area: main;
  background-color: white;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

footer {
  grid-area: foot;
  bottom: auto;
}

.shrieks {
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

.info{
  grid-area: auto;
  background-color: rgba(196, 58, 40, 0.85);
  overflow-y: scroll;
}
